<h1>Listing contestants</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @contestants.each do |contestant| %>
  <tr>
    <td><%= contestant.name %></td>
    <td><%= link_to 'Destroy', contestant , :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contestant', new_contestant_path %> |
<%= link_to 'Pick Winner' , winner_contestants_path %>